:root { 
--gray_800_9e:#5050509e; 
--black_900_7e:#0000007e; 
--gray_200_5b:#e9e9e95b; 
--red_400:#e54949; 
--blue_gray_900_6c:#3333336c; 
--green_500:#47b13d; 
--black_900:#000000; 
--gray_200_01:#eeeeee; 
--blue_gray_900:#333333; 
--blue_gray_900_87:#33333387; 
--gray_400_70:#afafaf70; 
--white_A700_4c:#ffffff4c; 
--gray_700:#6a6a6a; 
--gray_400:#afafaf; 
--blue_gray_100:#d9d9d9; 
--blue_800:#0048d6; 
--gray_800:#505050; 
--gray_200_4c:#e9e9e94c; 
--gray_400_7f:#afafaf7f; 
--gray_200:#e9e9e9; 
--yellow_A700:#ffd814; 
--blue_gray_900_9e:#3333339e; 
--gray_100:#f2f4f6; 
--white_A700_87:#ffffff87; 
--gray_400_87:#afafaf87; 
--gray_400_00:#afafaf00; 
--black_900_14:#00000014; 
--white_A700:#ffffff; 
--black_900_59:#00000059; 
}